.header{
    border-bottom-color: burlywood;
    height: 200px;
    background-color: cadetblue;
    padding-top: 35px;
}
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    color: crimson;
    text-align: center;
  }