<div class="form">
  <form action="">
    <div class="form-group">
      <label for="quote">Quote</label>
      <input type="text" required class="form-control" id="quote">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" required class="form-control" id="author">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" required class="form-control" id="name">
      </div>
    <div>
      <input type="submit" value="submit">
    </div>
  </form>
</div>
