<div class="col-md-12">
  <div class="row">
    <div class="col-md-4">
        <div class="form">
            <form (ngSubmit)='submitQuote()'>
              <div class="form-group">
                <label for="quote">Quote</label>
                <input type="text" class="form-control" id="quote" [(ngModel)]="quoteDetails" name="details" placeholder="Enter quote" required>
              </div>
              <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" [(ngModel)]="quoteAuthor" name="author"  placeholder="Name of the author" required>
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="quotePublisher" name="publisher" placeholder="Enter Your Name" required>
              </div>
             <div>
              <button type="submit" class="btn btn-success btn-lg">Post Quote</button>
             </div>
            </form>
          </div>        
    </div>
    <div class="col-md-8">

    </div>

  </div>

</div>